/*=======================================
 Common Style
========================================*/
:root {
  --menu: #FFFFFF;
  --logo_leter: #FFFFFF;
  --logo_first_leter_background: #3E64FF;
  --logo_last_part: #5a41cc;
  --box_shadow: #dddddd;
  --active_heighlighter: #00ffb8;
}

body{
  font-family: 'Public Sans', sans-serif;
}

a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: black;
}

.justify-content-center {
  justify-content: center !important; }
.align-items-center {
  align-items: center !important; }
.text-center {
  text-align: center !important;
}

/*=======================================
 Header Area Style
========================================*/
#header_area {
  left: 0px;
  right: 0px;
  width: 100%;
  top: 0px;
  z-index: 99;
  position: fixed;
  padding: 15px 0;
  box-shadow: 0px 0px .53px 0px var(--box_shadow);
  transition: all 2s;
}
#header_area.sticky {
  background-image: url(../image/banner.png);
  box-shadow: 0px 0px 1px 1px var(--box_shadow);
  transition: all 2s;
}
#header_area .header_area_wraper {
  padding: 5px;
}

#header_area .logo_area a {
  color: var(--logo_leter);
  font-size: 25px;
}
#header_area .logo_area .logo_first_letter {
  background: var(--logo_first_leter_background);
  padding: 7px 10px;
  border-radius: 50%;
  font-weight: 900;
}
#header_area .logo_area .logo_last_part {
  margin-left: -5px;
}

#header_area .menu_area {
  align-self: center;
}
#header_area .menu_area ul {
  list-style: none;
  display: flex;
  margin: 0;
  float: right;
}
#header_area .menu_area ul a {
  color: var(--menu);
  
}
#header_area .menu_area ul li a.active {
  color: var(--active_heighlighter);
}
#header_area .menu_area ul a span {
  position: relative;
  display: block;
  margin: 0 35px;
  padding-bottom: 2px;
}
#header_area .menu_area ul a span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--logo_first_leter_background);
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#header_area .menu_area ul li a:hover span::before,
#header_area .menu_area ul li a.active span::before {
  visibility: visible;
  transform: scaleX(1);
}
#check{
  display: none;
  font-size: 30px;
  color: var(--menu);
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
}


/*=======================================
 Home Area Style
========================================*/
.set_max_height_for_home{
  height: 776px;
}
#home_area{
  font-family: 'Poppins', sans-serif;
  background-image: url(../image/banner.png);
  position: relative;
  z-index: 0;
  height: 900px;
}
#home_area span.subheading{
  font-size: 16px;
  font-weight: 800;
  color: var(--active_heighlighter);
  letter-spacing: 4px;
}
#home_area h1 {
  font-size: 50px;
  font-weight: 800;
  color: var(--menu);
}
#home_area h2 {
  color: var(--menu);
}

#container {
  display: flex;
	filter: url(#threshold) blur(0.6px);
}
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-size: 40pt;
	text-align: center;
	user-select: none;
  color: var(--active_heighlighter);
}
