/*=======================================
 Common Style
========================================*/
:root {
  --menu: #FFFFFF;
  --logo_leter: #FFFFFF;
  --social_media: #FFFFFF;
  --logo_first_leter_background: #3E64FF;
  --logo_last_part: #5a41cc;
  --box_shadow: #dddddd;
  --active_heighlighter: #00ffb8;
  --link_color: #1299F6;
}

body{
  font-family: 'Public Sans', sans-serif;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: black;
}
ul {
  list-style: none;
}

.justify-content-center {
  justify-content: center !important; }
.align-items-center {
  align-items: center !important; }
.text-center {
  text-align: center !important;
}

/*=======================================
 Header Area Style
========================================*/
#header_area {
  overflow: hidden;
  left: 0px;
  right: 0px;
  width: 100%;
  top: 0px;
  z-index: 99;
  position: fixed;
  padding: 15px 0;
  box-shadow: 0px 0px .53px 0px var(--box_shadow);
  transition: all 2s;
}
#header_area.sticky {
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 1px 1px var(--box_shadow);
  transition: all 2s;
}
#header_area .header_area_wraper {
  padding: 5px;
}

#header_area .logo_area a {
  color: var(--logo_leter);
  font-size: 25px;
}
#header_area .logo_area .logo_first_letter {
  background: var(--logo_first_leter_background);
  padding: 7px 10px;
  border-radius: 50%;
  font-weight: 900;
}
#header_area .logo_area .logo_last_part {
  margin-left: -5px;
}

#header_area .menu_area {
  align-self: center;
}
#header_area .menu_area ul {
  list-style: none;
  display: flex;
  margin: 0;
  float: right;
}
#header_area .menu_area ul a {
  color: var(--menu);
  
}
#header_area .menu_area ul li a.active {
  color: var(--active_heighlighter);
}
#header_area .menu_area ul a span {
  position: relative;
  display: block;
  margin: 0 35px;
  padding-bottom: 2px;
}
#header_area .menu_area ul a span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--logo_first_leter_background);
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#header_area .menu_area ul li a:hover span::before,
#header_area .menu_area ul li a.active span::before {
  visibility: visible;
  transform: scaleX(1);
}
#check{
  display: none;
  font-size: 30px;
  color: var(--menu);
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
}


/*=======================================
 Home Area Style
========================================*/
.set_height_for_home{
  height: 780px;
}
#home_area {
  font-family: 'Poppins', sans-serif;
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  height: 780px;
}
#home_area::before {
  position: absolute;
  bottom: -43px;
  left: 0;
  background-image: url(../image/circle_bottom_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 724px;
  height: 767px;
  content: '';
  z-index: -2;
}
#home_area::after {
  position: absolute;
    top: 0;
    right: 0;
    background-image: url(../image/cirlcle_top_right.png);
    width: 531px;
    height: 504px;
    content: '';
    z-index: -2;
}
#home_area span.subheading{
  font-size: 16px;
  font-weight: 800;
  color: var(--active_heighlighter);
  letter-spacing: 4px;
}
#home_area h1 {
  font-size: 50px;
  font-weight: 800;
  color: var(--menu);
}
#home_area h2 {
  color: var(--menu);
}

#container {
  display: flex;
	filter: url(#threshold) blur(0.6px);
}
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-size: 40pt;
	text-align: center;
	user-select: none;
  color: var(--active_heighlighter);
}

.style_area {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.social_media_area {
  text-align: center;
  position: absolute;
  justify-content: end;
  display: flex;
  right: 100px;
}
.social_media_area li {
  margin: 30px 0px;
}
.social_media_area li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--social_media);
  font-size: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.social_media_area li a::before {
  background: #615cfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #615cfd 0%, #d465ef 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #615cfd 0%, #d465ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#615cfd', endColorstr='#d465ef',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: 0;
  transform: scale(1.2);
  transition: 0.3s;
}
.social_media_area li a:hover::before {
  opacity: 1;
  transform: scale(1);
}
.social_media_area li a:hover {
  color: var(--link_color);
}
