/*
==============================================
----------------------------------------------
==============================================

Table Of Content

A. Wide_Screen_Layout:;

B. Wide_Laptop_Layout:
      1. 

C. Small_Laptop_Layout:
      1. 

D. Only_Tab_Landscope_Layout: 
      1. 

E. Tab_Layout:
      1. 

F. Mobile_Landscap_Layout:
      1. Mobile_Land_Header_Area.

G. Mobile_Layout:
      1.

H. Small_Mobile_Layout:
      1.
      
I. Exceptional

      

==============================================
----------------------------------------------
==============================================
*/
:root {
  --nav_background: #944AEB;
}

/*------------------
  Wide_Screen_Layout
-------------------*/
@media only screen and (max-width: 1700px) {
  
}
/*--------------------
  Wide_Laptop_Layout
---------------------*/
@media only screen and (max-width: 1450px) {
  
}

/*--------------------
  Small_Laptop_Layout
---------------------*/
@media only screen and (max-width: 1200px) {
  nav.resume_nav {
    margin-right: 40px;
  }
}

/*-----------------------------
  Only_Tab_Landscope_Layout
-----------------------------*/
@media only screen and (max-width: 1350px) and (min-width: 992px) {
  
}

/*------------------
      Tab_Layout
-------------------*/
@media only screen and (max-width: 991px) {
  /* Tab_Common */
  #home_area h1,
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  /* Tab_Header_Menu_Area */
  #check{
    display: block;
  }
  #header_area .menu_area ul {
    display: block;
    position: fixed;
    height: 100vh;
    background: var(--nav_background);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #header_area .menu_area ul a span {
    margin: 25px 35px;
  }
  #header_area .menu_area ul li a {
    font-size: 20px;
  }
  #header_area .menu_area ul.show{
    left: 0;
  }

  /* Tab_Home_Area */
  /* #home_area::before, */
  #home_area::after {
    content: none;
  }
  .social_media_area {
    display: none;
  }
  #text1, #text2 {
    font-size: 20pt;
  }

  .stickt_resume_menu{
    position: static;
  }

  nav.resume_nav {
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 40px;
  }
  .resume_page_wrap {
    border: 0;
    padding-left: 0px;
  }
  
}

/*-------------------------
    Mobile_Landscap_Layout
--------------------------*/
@media only screen and (max-width: 990px) and (min-width: 501px) {
  /* Mobile_Land_Header_Area */
  #header_area .menu_area ul {
    width: 35%;
  }
  /* Mobile_Land_Home_Area */
  
}

/*------------------
    Mobile_Layout
-------------------*/
@media only screen and (max-width: 500px) {
  #header_area .menu_area ul {
    width: 55%;
  }
  #home_area {
    height: 740px;
  }
  #home_area::before {
    content: none;
  }
  nav.resume_nav {
    margin-left: 30%;
    margin-right: 20%;
  }
}

/*------------------------------
   Small_Mobile_Layout
-------------------------------*/
@media only screen and (max-width: 360px) {
  .style_area{
    display: none;
  }
}

/*====================
    Exceptional
=====================*/
@media only screen and (max-width: 767px){
  #header_area .menu_area ul {
    width: 50%;
  }
  #home_area::before {
    height: 500px;
  }
  #about_area h1 {
    text-align: center;
    margin: 10px 0;
  }
  .button_wrapper{
    text-align: center;
  }
}
