/*
==============================================
----------------------------------------------
==============================================

Table Of Content

A. Wide_Screen_Layout:;

B. Wide_Laptop_Layout:
      1. 

C. Small_Laptop_Layout:
      1. 

D. Only_Tab_Landscope_Layout: 
      1. 

E. Tab_Layout:
      1. 

F. Mobile_Landscap_Layout:
      1. Mobile_Land_Header_Area.

G. Mobile_Layout:
      1.

H. Small_Mobile_Layout:
      1.
      
I. Exceptional

      

==============================================
----------------------------------------------
==============================================
*/
:root {
  --nav_background: #944aeb;
}

/*------------------
  Wide_Screen_Layout
-------------------*/
@media only screen and (max-width: 1700px) {
}
/*--------------------
  Wide_Laptop_Layout
---------------------*/
@media only screen and (max-width: 1450px) {
}
/*--------------------
  Wide_Laptop_Layout
---------------------*/
@media only screen and (max-width: 1390px){

}

/*--------------------
  Small_Laptop_Layout
---------------------*/
@media only screen and (max-width: 1200px) {
  nav.resume_nav {
    margin-right: 40px;
  }
  
  .single_card_height {
    height: 430px;
    text-align: center;
  }
}

/*-----------------------------
  Only_Tab_Landscope_Layout
-----------------------------*/
@media only screen and (max-width: 1350px) and (min-width: 992px) {
}

/*------------------
      Tab_Layout
-------------------*/
@media only screen and (max-width: 991px) {
  /* Tab_Common */
  #home_area h1,
  .resume_page_wrap h2.heading,
  h1 {
    font-size: 30px;
  }
  h2,
  h3,
  .resume_text h3 {
    font-size: 20px;
  }
  .margin-top-80 {
    margin-top: 60px;
  }

  /* Tab_Header_Menu_Area */
  #check {
    display: block;
  }
  #header_area .menu_area ul {
    display: block;
    position: fixed;
    height: 100vh;
    background: var(--nav_background);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #header_area .menu_area ul a span {
    margin: 25px 35px;
  }
  #header_area .menu_area ul li a {
    font-size: 20px;
  }
  #header_area .menu_area ul.show {
    left: 0;
  }

  /* Tab_Home_Area */
  #home_area::after {
    content: none;
  }
  .social_media_area {
    display: none;
  }
  #text1,
  #text2 {
    font-size: 20pt;
  }

  /* Tab_About_Area */
  a.download_cv_btn_action {
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 15px;
  }
  /* Tab_Resume_Area */
  /* Tab_resume_menu */
  .stickt_resume_menu {
    position: static;
  }
  nav.resume_nav {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 70px;
  }

  /* Tab_resume_menu_page */
  .resume_page_wrap {
    border: 0;
    padding-left: 0px;
  }

  /* Tab_resume_menu_items */
  .resume_text .name {
    font-weight: 600;
    font-size: 16px;
  }
  .resume_text .address {
    font-size: 12px;
  }

  /* Tab_Service_Arae */
  .single_card_height {
    height: 340px;
  }
}

/*-------------------------
    Mobile_Landscap_Layout
--------------------------*/
@media only screen and (max-width: 990px) and (min-width: 501px) {
  /* Mobile_Land_Header_Area */
  #header_area .menu_area ul {
    width: 35%;
  }
}

/*------------------
    Mobile_Layout
-------------------*/
@media only screen and (max-width: 767px) {
  #header_area .menu_area ul {
    width: 50%;
  }
  #home_area::before {
    height: 500px;
  }
  #about_area h1 {
    text-align: center;
    margin: 10px 0;
  }
  .button_wrapper {
    text-align: center;
  }
  .linear_progress_wrap {
    width: 100%;
  }

  .single_card_height {
    height: 420px;
  }

  .modal_content {
    width: 100%;
    margin-top: 10%;
  }
}
@media only screen and (max-width: 560px) {
  /* Header_Area */
  #header_area .menu_area ul {
    width: 55%;
    height: 100%;
  }
  #home_area {
    height: 740px;
  }
  #home_area::before {
    content: none;
  }
  #home_area .content_area {
    margin-top: -40%;
  }

  /* Resume-Area */
  nav.resume_nav {
    margin-left: 22%;
    margin-right: 22%;
  }
  .resume_icon {
    width: 40px;
    height: 40px;
  }
  .resume_icon i {
    font-size: 18px;
  }
  /* Mobile_Service_Area */
  .single_card_height {
    height: 0px;
  }
}

/*------------------------------
   Small_Mobile_Layout
-------------------------------*/
@media only screen and (max-width: 365px) {
  .style_area {
    display: none;
  }
  .resume_icon {
    display: none !important;
  }
  /* .resume_icon i {
    font-size: 15px;
  } */
  .hover_effect_slide_up .resume_icon{
    display: flex !important;
  }
}

/*====================
    Exceptional
=====================*/

